@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h1>Lexicon School Management</h1>
    <p class="lead">This program is written using ASP, c#, .net database.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Read more about it from microsoft.</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>
           primary there is a course class, it contains information about the course.
        </p>
        <p>&nbsp;</p>
    </div>
    <div class="col-md-4">
        <h2>The red thread</h2>
        <p>The modules is the thread for the course which the different modules inside the course.</p>
        <p>&nbsp;</p>
    </div>
    <div class="col-md-4">
        <h2>Working and solutions</h2>
        <p>The activitys table is built during the course, the progress and examples as well task aasignemnet.</p>
        <p>&nbsp;</p>
    </div>
</div>